
.hero-container {
    position: absolute;
    background-image: url(../Images+Fonts/bkgrd-1.jpg);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    grid-area: hero;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 100%;
    /* overflow: hidden; */
}
/* navbar */
a {
    text-decoration: none;
}
@keyframes grow {
    from {
        width: 100%;
    }
    to {
        width: 200%;
    }
}
@keyframes shift {
    from {
        left: 5%;
    }
    to {
        left: 10%;
    }
}
.navbar {
    grid-column-start: 0;  
    grid-row: 0 / 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 1;
}
.navbar:hover {
    z-index: 2;
    animation: grow .1s linear forwards;
}
.navbar:hover .border {
    animation: shift .1s linear forwards;
}
.navbar:hover .links {
    display: block;
    animation: appear .1s linear forwards;
}
.navbar:hover .social {
    display: flex;
    flex-direction: row;
    right: 40px;
}
.navbar:hover .social-link:not(:nth-child(1)) {
    padding-left: 12px;
}
.navbar:hover .hamburger {
    animation: fade .05s linear forwards;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
} 
.hamburger {
    position: absolute;
    width: 2%;
    height: 19px;
    left: 1%;
    top: 2%;
}
@keyframes grow {
    0% {
        font-size: 14px;
    }
    100% {
        font-size: 18px;
    }
}
@keyframes shrink {
    0% {
        font-size: 18px;
    }
    100% {
        font-size: 14px;
    }
}
.link {
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    padding: 20px 0;
}
@keyframes elongate {
    to {
        width: 109px;
    }
}
.link-border {
    width: 1px;
    height: 0px;
    border: 1px solid rgba(255, 252, 252, 0.4);
    animation: elongate .3s linear forwards;
}
.links {
    position: relative;
    left: 10%;
    top: 5%;
    display: none;
}
.social {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    left: 20px;
}
.line {
    position: absolute;
    border: 1px solid #FFFCFC;
    height: 0px;
    width: 35px;
}
#line-one{
    top: 2px;
}
#line-two {
    top: 12px;
}
#line-three {
    top: 22px;
}
.border {
    position: absolute;
    width: 1px;
    height: 95%;
    left: 5%;
    background: linear-gradient(#FFFCFC, rgba(32, 32, 32, 0.5));
}
.pointer {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    left: 9.6%;
    /* top: 168px; */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 6px solid #66DBE2;
}
/* end--navbar */
#hero-img {
    background-image: url('../Images+Fonts/keyboard.jpg');
    background-size: 100%;
    grid-column: 2 / 9;
    height: 50%;
    left: 100px;
    position: relative;
    top: 25%;
}
#bus-name {
    grid-row-start: 1;
    grid-column: 2 / 4;
    font-size: 24px;
    z-index: 2;
    width: 100px;
    height: 20px;
    position: absolute;
    margin-top: 175px;
    margin-left: 100px;
    color: white;
    font-family: Montserrat;
    transform: rotate(-90deg);
}
#edwin {
    grid-row-start: 1;
    grid-column: 5 / 7;
    font-size: 100px;
    font-weight: bold;
    z-index: 2;
    width: 350px;
    height: 250px;
    line-height: 90px;
    position: absolute;
    margin-top: 430px;
    margin-left: 100px;
    color: white;
    font-family: Montserrat;
}

.scroll-arrow {
    grid-row-start: 1;
    grid-column: 8 / 9;
    position: absolute;
    transform: rotate(90deg);
    margin-top: 475px;
    margin-left: 100px;
}